{% extends 'base.html' %}

{%block title %}
Игра в города
{% endblock %}

{%block body %}
<h1 class="game">Игра в города</h1>
<h2 class="game"><strong>Цель игры</strong> - поочереди называть российские города
    на последнюю букву последнего города</h2>
<div class="textcols">
    <div class="textcols-right">
        <h3 class="game">Введите город на букву "{{data.letter}}"</h3>
        <form class="game" action="/game" method="POST">
            <input class="game" type="text" width="40" name="user_city" placeholder="Ваш город">
            <input class="game" type="submit" value="Ответить">
        </form>
        {% if data.error %}
            <p class="game_error"><strong>{{data.error}}</strong> {{city}}</p>
        {% endif %}
        <h5 class="game"><a class="button" href="/game_over">Закончить игру</a></h5>
    </div>
    <div class="textcols-left">
        <h3 class="game">Ход игры:</h3>
        {%for player, city in data.used_cities_and_players%}
            <p class="game"><strong>{{player}}:</strong> {{city}}</p>
        {%endfor%}
    </div>
</div>
    <h3 class="game">Использованные города:</h3>
        <p class="game">{%for city in data.used_cities%}
        {{city}},
        {%endfor%}
        </p>

{% endblock %}