{% extends 'base.html' %}

{%block title %}
Информация об игроке
{% endblock %}

{%block body %}
<h3 class="username">Введите Ваше имя:</h3>
<form class="username" method="POST" action="/user_name">
<input class="username" name="user_name" required  type="text" >
    <input class="username" type="submit" value="Начать игру">
</form>
    <h2 class="username"><a class="button" href="/">Вернутся назад</a></h2>
    <h3 class="username"> Правила игры: </h3>
    <h4 class="username">1) Начинается игра с города от компьютера</h4>
    <h4 class="username">2) Вам нужно назвать реальный российский город, название которого начинается на букву,
        которой заканчивается название города от компьютера
        <br>(Например: МосквА-АнапА-АгриджентО-ОмсК и т.д.)</h4>
    <h4 class="username">3) Запрещается повторение городов.</h4>
    <h4 class="username">4) Названий городов на буквы: 'ё', 'ъ', 'ы', 'ь', 'й', 'ц', 'е' очень мало, поэтому они не участвуют в игре.
        Из-за этого мы пропускаем эти буквы, и Вам нужно назвать город на букву стоящую перед этими буквами</h4>

{% endblock %}